In [1]:
import pandas as pd
import time
import numpy as np
import matplotlib as plt

In [5]:
data = pd.read_csv('data/data_sum.csv', encoding = 'utf-8')

In [6]:
data

            Name Year of release                          Genre
0        무브 투 헤븐            2021            ['인생', '드라마', '가족']
1           악의 꽃            2020  ['스릴러', '로맨스', '범죄', '멜로드라마']
2      슬기로운 의사생활            2020      ['우정', '로맨스', '인생', '의료']
3    슬기로운 의사생활 2            2021      ['우정', '로맨스', '인생', '의료']
4         나의 아저씨            2018      ['심리', '인생', '드라마', '가족']
..           ...             ...                            ...
496        킬미,힐미            2015    ['로맨스', ' 로맨틱 코미디', ' 드라마']
497       여자를 울려            2015          ['가족', ' 막장', ' 드라마']
498           화정            2015                         ['사극']
499       이브의 사랑            2015                 ['막장', ' 드라마']
500      그녀는 예뻤다            2015                ['로맨스', ' 코미디']

[501 rows x 3 columns]

TypeError: 'method' object is not subscriptable